@import "~@fluentui/react/dist/sass/References.scss";

.header {
  background-color: #99ccff;
  padding: 5px;
  font-size: 24px;
}
.content {
  border: 1px solid #ccc;
  padding: 16px;
}
.listContent {
  border: 1px solid #ccc;
}
.basicInfoItemWrapper {
  margin-bottom: 8px;
  width: 100%;
}
.basicInfoItemLabel {
  margin-bottom: 8px;
  margin-top: 4px;
  font-weight: 700;
}
.basicInfoItemValue {
  min-height: 30px;
  line-height: 30px;
}
.basicInfoSupplierNameValue {
  margin-left: 30px;
}
.textEllipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.subHeader {
  font-size: 20px;
}
.fieldTitle {
  font-weight: 700;
}
.commentContent,
.attachmentsContent {
  padding: 5px;
}
.uploadContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.uploadArea {
  display: inline-block;
  flex: 1;
  border: 1px dashed #0078d4;
  padding: 8px;
  text-align: center;
  background: #f3f9fc;
  margin-right: 10px;
}
.fileItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  font-size: 14px;
}
.iconUpload,
.textUpload {
  font-weight: bold;
}
.iconUpload:hover {
  background-color: rgba($color: #fff, $alpha: 0);
}
.fileList {
  height: 120px;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 8px;
  border: 1px solid #ccc;
}
.fileItemOdd,
.fileItemEven {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
.fileItemOdd {
  background: #fff;
}
.fileItemEven {
  background: #f6f6f6;
}
.fileItemExtraInfoTitle {
  display: inline-block;
  width: 200px;
}
.fileItemExtraInfo {
  display: inline-block;
  width: 100px;
  text-align: right;
}
